
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h1>問題的核心究竟是什麼</h1>
<p><h3><b>報告對我來說</b></h3></p>
<a href="https://www.google.com.tw/?hl=zh_TW">about</a>
<img src="https://imgur.dcard.tw/PygbCVbh.jpg" alt="xl3gj3" />
<ol>
    <ul>
        <li>aaa</li>
        <li>bbb</li>
        <li>已經成為了我生活的一部分</li>

    </ul>
</ol>

@{
    var amount = 100;
    bool isValid = true;
}

@DateTime.Now

<div>
    @amount
</div>

@if (isValid)
{
<p>isValid:@isValid</p>
}

@for (int i = 1; i <= 10; i++)
{
    <p>@i</p>
}
<p>
    3+5=@(3+5)
</p>


